body {
	font: 11pt Segoe UI, sans-serif;
	width: 1280px;
	margin: 0 auto 0 auto;
}

#background_picture_space {
	width: 1280px;
	height: 318px;
}

#background_picture {
	position: relative;
	margin: 0 auto 0 auto;
}

#website_name {
	width: 1280px;
	text-align: center;
	font-size: 56px;
	color: #e6f7ff;
	position: absolute;
	top: 130px;
}

#website_name > a {
	text-decoration: none;
	color: #e6f7ff;
}

/* Tabs */
#tabs {
	background-color: #404040;
	width: 1280px;
	margin-bottom: 3em;	
}

#tabs > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#tabs > ul > li {
    float: left;
	font-size: 16px;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

#tabs > ul > li > a:link, #tabs > ul > li > a:visited {
    display: block;
    width: 180px;
    color: #FFFFFF;
    background-color: #404040;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

/* Changes background color of a tab when the mouse is hovering over it*/
#tabs > ul > li > a:hover, #tabs > ul > li > a:active {
    background-color: #7A991A;
}

/* This doesn't seem to work so far, probably because it's being overriden by more specific selectors. */
.selected_tab > a {
	text-decoration: bold;
	background-color: #7A991A;
}

hr {
	margin-top: 2em;
}


h1 {
	font-size: 40px;
	text-decoration: bold;
}

h2 {
	text-decoration: bold;
	font-size: 28px;
}

h3 {
	font-size: 20px;
	text-decoration: bold;
	color: blue;
}

h4 {
	font-size: 16px;
}

#main_text {
	margin: auto;
	width: 60%;
	text-align: justify;
}

#side_bar  {
	float: left;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 2%;
	margin-bottom: 20px;
	width: 20%;
	background-color: #FFFFCC;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

#side_bar img {
	max-width: 80%;
	height: auto;
	border-radius: 50%;
}

#main {
	position: relative;
	display: inline-block;
	width: 55%;
	padding-top: 10px;
	margin-bottom: 2em;
	text-align: justify;
}

table {
	border-collapse: collapse;
}

.header td {
	text-decoration: bold;
}

td {
	padding: 50px;
	border: 1px solid black;
}

th {
	border: 1px solid black;
	padding: 5px;
}

textarea {
	font-family: Segoe UI, Arial, sans-serif;
}

#clue {
	font-size: 20px;
	padding: 1em;
}

#newgamearea {
	margin-top: 2em;
}

.attention {
	text-decoration: bold;
	color: red;
}

button {
	text-align: center;
}

fieldset {
	margin: auto;
}
	
	




	
	
	
	
	
	